body {
	font-family: Helvetica;
	overflow: hidden;
	margin: 0px;
}
#boxText, #personText {
	font-size: 12px;
}

#boxName, #personName {
	font-weight: bold;
	font-size: 24px;
	padding-bottom: 5px;
}

#header {
	position: fixed;
	top: 46px;
	left: 46px;
	height: 45px;
	overflow: hidden;
	z-index: 2;
}

#header .logo {
	position: absolute;
	top: 8px;
	left: 42%;
}

#mainbody {
	margin: 0;
	overflow: hidden;
}

#chartContainer {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 0;
	line-height: 120%;
	overflow: hidden;
}

#chart {
	width: 5000px;
	height: 5000px;
	background: #e6e6e6;
	overflow: hidden;
}

#sidebar {
background-color: #CCCCCC;
position: absolute;
top: 0px;
right: 0px;
height: 100%;
width: 274px;
border-left: 5px;
border-left-color: #b3b3b3;
border-left-style: solid;
padding: 10px;
}

#footer {
	bottom: 46px;
	left:46px;
	position: fixed;
	

	font-family: ProximaNova;
}

#footer ul{
	
	margin: 0px;
	padding: 0px;
	
	
}

#footer ul li {
	display: inline;
	padding: 0px 3px 0px 3px;
	font-size: 17px;
	width: 9em;
	margin:0;
	
}

#footer li a:link {

	color: #999999;
	text-decoration: none;
}

#footer li a:visited {

	color: #999999;

}


#footer li a:hover {

	color: #62B244;
}



.menu {

	background-image: -webkit-linear-gradient(#E6E6E9,#CECFD1);
	background-image: -moz-linear-gradient(#E6E6E9,#CECFD1);
	background-image: -o-linear-gradient(#E6E6E9,#CECFD1);
	background-image: linear-gradient(#E6E6E9,#CECFD1);
	-webkit-box-shadow: rgba(0, 92, 255, 0.88) 0 -1px 14px;
	-moz-box-shadow: rgba(0, 92, 255, 0.88) 0 -1px 14px;
	box-shadow: rgba(0, 92, 255, 0.88) 0 -1px 14px;
}

@font-face {
	font-family: ProximaNova;
	src: url(../font/ProximaNova-Regular.otf);
}
